@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700');

* {
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-text: #118DA8;
    --color-body: #191919;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--color-body);
    overflow-x: hidden;
}

.hidden {
    display: none;
}

/*Шапка*/
.header {
    margin-bottom: 70px;
}

.header__container {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.header__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 43px;
}

.header__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 27px;
    color: var(--color-white);
}

.header__menu__link {
    display: flex;
    gap: 34px;
}

.header__menu__link__a {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: var(--color-white);
    text-decoration: none;
    transition: .2s color ease-in;
}

.header__menu__link__a:hover {
    color: var(--color-text);
}

/*Основная информация*/
.desctop {
    margin-bottom: 100px;
}

.desctop__container {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.desctop__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desctop__photo {
    padding-right: 60px;
}

.desctop__text {
    max-width: 562px;
}

.desctop__text__st {
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    padding-bottom: 70px;
}

span {
    font-weight: 700;
}

.desctop__social__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.desctop__social__media {
    display: flex;
    gap: 19px;
}

/*Курсы*/
.course {
    margin-bottom: 168px;
}

.course__container {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.course__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.course__name__text {
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: var(--color-white);
}

.course__btn {
    width: 178px;
    height: 51px;
    background: #118DA8;
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: var(--color-white);
    margin-top: 18px;
}

/*Карточки*/
.course__card {
    display: flex;
    align-items: center;
    height: 565px;
    background: #000000;
    border-radius: 32px;
    padding: 50px 40px 50px 40px;
    margin-bottom: 44px;
}

.course__card__img {
    padding-right: 53px;
}

.course__card__content {
    display: flex;
    flex-direction: column;
    max-width: 757px;
}

.course__card__format {
    display: flex;
    justify-content: center;
    max-width: 183px;
    background: #343434;
    border-radius: 6px;
    margin-bottom: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.course__card__format__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-white);
}

.course__card__pount {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: var(--color-text);
    padding-bottom: 18px;
}

.course__card__text {
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    color: var(--color-white);
    padding-bottom: 18px;
}

.course__card__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 20px;
}

.course__card__btn {
    background: #118DA8;
    border-radius: 6px;
    height: 51px;
    max-width: 173px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-white);
}

/*Инфа о преподавателе*/

.teacher {
    margin-bottom: 200px;
}

.teacher__container {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.teacher__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher__content {
    display: flex;
    flex-direction: column;
}

.teacher__content__next {
    width: 112px;
    height: 112px;
    background: var(--color-text);
    border-radius: 400px;
    margin-bottom: 20px;
}

.teacher__content__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-text);
    padding-bottom: 5px;
}

.teacher__content__text {
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: var(--color-white);
    padding-bottom: 28px;
}

.teacher__content__title {
    display: flex;
    flex-direction: column;
    gap: 33px;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    max-width: 590px;
}

/*Форма для отправки почты*/

.mail {
    margin-bottom: 200px;
}

.mail__container {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.mail__wrapper {
    height: 387px;
    display: flex;
    background: #000000;
    border-radius: 32px;
    padding-left: 60px;
    padding-top: 60px;
}

.mail__content {
    padding-right: 76px;
}

.mail__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-text);
    padding-bottom: 35px;
}

.mail__text {
    width: 535px;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 1.8px;
    color: var(--color-white);
}

.mail__infoblock {
    display: flex;
    flex-direction: column;
}

.mail__infoblock__name {
    max-width: 522px;
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    height: 82px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    margin-bottom: 20px;
}

.mail__infoblock__email {
    width: 522px;
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    height: 82px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
    margin-bottom: 20px;
}

.mail__infoblock__btn {
    width: 126px;
    background: var(--color-text);
    height: 48px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}

/*Отзывы на курс*/
.reviews {
    margin-bottom: 200px;
}

.rewiews__container {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.rewiews__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.rewiews__rew {
    padding-left: 50px;
    width: 423px;
    height: 321px;
    background: #000000;
    border-radius: 32px;
}

.rewiews__img {
    padding-top: 34px;
    padding-bottom: 21px;
}

.rewiews__text {
    max-width: 320px;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: var(--color-white);
    padding-bottom: 20px;
}

.rewiews__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}

/*Подвал*/

.footer {
    margin-bottom: 100px;
}

.footer__container {
    max-width: 1300px;
    padding: 0px;
    margin: 0px auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    flex-direction: column;
}

.footer__social__name {
    font-weight: 700;
    font-size: 32px;
    line-height: 27px;
    color: var(--color-white);
    padding-bottom: 21px;
}

.footer__social__content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__inform {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer__block__one {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer__block__two {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.footer__icons {
    margin-right: 30px;
}

.footer__icons__media {
    display: flex;
    gap: 19px;
}
